.productwrapper{
    background-color: rgba(146, 116, 116, 0.589);
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.productrow{
    display: flex;
    flex-direction:row;
}

.thumbcontainer{
    display: flex;
    justify-content: center;
    width: 20vh;
    padding-left: 10px;
    padding-right: 10px;
    
}

.thumbcss{
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}

#imageresize{
    width:15vh;
    padding-top: 30px
}

.mainimage-container{
   
    /* padding-right: 10vh;
    padding-left: 10vh;
    width:20% */
}

#mainimage{
    width:70vh;
    padding-top: 30px
    
}

.heart{
    width:30px,
    red
}

.function-container{
    background-color: rgba(9, 176, 241, 0.589);
    width:60vh;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    
}


/* #des-position{
    margin-left: 5vh;
} */

.card-wrapper{
    margin-left: 5vh;
    margin-right: 50vh;
    padding-bottom: 10px;
    
}

.info{
    display: flex;
    flex-direction: row;
}