.shopwrapper{
    background-color: rgba(233, 25, 25, 0.589);
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.shoprow{
    display: flex;
    flex-direction:row;
}

.thumbcontainer{
    display: flex;
    justify-content: center;
    width: 20vh;
    padding-left: 10px;
    padding-right: 10px;
    
}

.thumbcss{
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}

#imageresize{
    width:15vh;
    padding-top: 30px
}

.mainimage-container{
   
    /* padding-right: 10vh;
    padding-left: 10vh;
    width:20% */
}

#mainimage{
    width:70vh;
    padding-top: 30px
}

.function-container{
    background-color: rgba(9, 176, 241, 0.589);
    width:30%;
    margin-right: auto;
    margin-left: auto;
}


#des-position{
    margin-left: 5vh;
}

.trainerinfo{
    margin-left: 5vh;
    margin-right: 50vh;
    padding-bottom: 10px;
    
}